.app__navbar {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 80px;

    backdrop-filter: blur(10px);
    z-index: 10;

}

.app__navbar-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;

    a {
        text-decoration: none;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        transition: all;
        transition-duration: 300ms;
        transition-timing-function: ease-in-out;

       
    }
    
    .dot {
        height: 5px;
        width: 5px;
        border-radius: 50%;
        opacity: 0;
        transition: all;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }

    li {
        padding: 1rem 1rem 1rem 1rem;
        width: 100%;
        column-gap: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;


        &:hover {

            .dot {
              opacity: 1;
            }
          }
    }
   



    @media screen and (max-width: 1180px) {
        display: none;
    }
}

.app__navbar-menu {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1rem;
    z-index: 20;
   
    div {
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items: start;
        position: fixed;
        top: 0;
        right: 0;
        width: 80vw;
        height: 100vh;
        padding-left: 1rem;
        background-color: var(--purple-color);
       

        svg {
            height: 64px;
            margin: 1rem;
            color: var(--light-color);
            background-color: var(--purple-color);
            align-self: end;
           
 
        }

        ul {
            list-style: none;
            padding: 1rem;
            font-size: 40px;
            font-family: "Poppins";


            li, a {
                margin-bottom: 1rem;
                text-decoration: none;
                color: var(--light-color);
                transition: all;
                transition-duration: 300ms;
                transition-timing-function: ease-in-out;
            }
        }
    }
    svg {
        width: 50px;
        height: 50px;
        color: var(--purple-color);
        background-color: white;
        padding: 0.5rem;
        border-radius: 50%;
    }

    @media screen and (min-width: 1180px) {
        display: none;
    }
}

.light{
    color: var(--light-color);
}

.purple{
    color: var(--purple-color)
}

.purpledot{
    background-color: var(--purple-color)
}
.lightdot{
    background-color: var(--light-color);
}
.reddot{
    background-color: var(--red-color);
}

.visible {
    opacity: 0;
}