@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Abril+Fatface&family=Amatic+SC&family=Cinzel+Decorative&family=Poppins&display=swap');

:root {
  --font-base: "Amatic SC", "Aboreto", "Poppins", "Abril Fatface", "Cinzel Decorative", sans-serif;

  --light-color: #F6EFE9;
  --green-color: #AABC86;
  --purple-color: #73729C;
  --blue-color: #7673F4;
  --red-color: #B37A79;
  --dark-color: #363636;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}